{% extends 'base.html.twig' %}

{% block body %}
    <div class="row my-4">
        <div class="col">
            <h1 class="mb-4">{{ 'homepage.category'| trans | capitalize}}</h1>
                <div class="row">
                    {% for product in products %}
                    <div class="col-sm-4 mb-5">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="{{ asset("img/product/"~ product.image) }}" class="img-fluid" alt="">
                            </div>
                            <div class="col-sm-8">
                                <h3>{{ product.name }}</h3>
                                <p class="h5 my-2">{{ product.price | localizedcurrency('EUR')}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="my-1">{{ product.description | truncate(100, true) }}</p>
                                <p>
                                    <a href="{{ path('homepage.product', {'slugProduct' : product.name}) }}" class="btn btn-primary">
                                        <span class="fas fa-eye"></span>
                                        Consult
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>

{% endblock %}