{% extends 'admin/base.admin.html.twig' %}

{% block colRight %}
    <h1 class="mb-4">{{ 'homepage.products'| trans | capitalize}}</h1>

    {% include 'inc/flash.message.html.twig' %}

    <p>
        <a href="{{ url('admin.product.form') }}" class="btn btn-warning">{{ 'admin.form.category.add' | trans | capitalize }}</a>
    </p>
    <table class="table table-striped">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Image</th>
            <th>Category</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>

        {% for product in products %}
            <tr>
                <td>{{ product.translations[app.request.locale].name | capitalize}}</td>
                <td>{{ product.translations[app.request.locale].description | truncate(100, true) }}</td>
                <td>{{ product.price}}</td>
                <td>{{ product.stock}}</td>
                <td>
                    <img src="{{ asset("img/product/"~product.image) }}" alt="image">
                </td>
               <td>

                   {#{% for category in product.category %}#}
                       {{product.category.translations[app.request.locale].name }}
                       {#{% endfor %}#}
                </td>
                <td>
                    <a href="{{ url('admin.product.update', { 'id' : product.id }) }}" class="btn btn-warning">{{ 'admin.form.product.modify' | trans | capitalize }}</a>
                </td>
                <td>
                    <a href="{{ url('product.delete', { 'id' : product.id }) }}" class="btn btn-danger">{{ 'admin.form.category.delete' | trans | capitalize }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}