{% extends 'base.html.twig' %}

{% block body %}

    <div class="row my-4">
        <div class="col">
            <h1 class="mb-4">{{ 'password_forget.title' | trans | capitalize }}</h1>

            {% include 'inc/flash.message.html.twig' %}


            {{ form_start(form, {'attr': { 'novalidate': 'novalidate' } } ) }}
            <p>
                {{ form_label(form.userEmail, 'register.form.email' | trans | capitalize ~ ' :') }}
                {{ form_widget(form.userEmail, { 'attr' : {
                    'placeholder' : 'register.form.placeholder.email' | trans | capitalize
                }}) }}
                {{ form_errors(form.userEmail) }}
            </p>

            <p>
                <input type="submit" name="submit" value="{{ 'register.form.button'| trans | capitalize }}" class="btn btn-info">
            </p>

            {{ form_end(form) }}


        </div>
    </div>
{% endblock %}