{% extends 'base.html.twig' %}

{% block body %}

    <div class="row my-4">
        <div class="col">
            <h1 class="mb-4">{{ 'register.title'| trans | capitalize }}</h1>
            {{ form_start(form, {'attr': { 'novalidate': 'novalidate' } } ) }}
            <p>
                {{ form_label(form.username, 'register.form.username' | trans | capitalize ~ ' :') }}
                {{ form_widget(form.username, { 'attr' : {
                    'placeholder' : 'register.form.placeholder.username' | trans | capitalize
                }}) }}
                {{ form_errors(form.username) }}
            </p>

            <p>
                {{ form_label(form.password, 'register.form.password' | trans | capitalize ~ ' :') }}
                {{ form_widget(form.password, { 'attr' : {
                    'placeholder' : 'register.form.placeholder.password' | trans | capitalize
                }}) }}
                {{ form_errors(form.password) }}
            </p>


            <p>
                {{ form_label(form.email, 'register.form.email' | trans | capitalize ~ ' :') }}
                {{ form_widget(form.email, { 'attr' : {
                    'placeholder' : 'register.form.placeholder.email' | trans | capitalize
                }}) }}
                {{ form_errors(form.email) }}
            </p>

            {#

            <p>
                {{ form_label(form.address, 'register.form.address' | trans | capitalize ~ ' :') }}
                {{ form_widget(form.address, { 'attr' : {
                    'placeholder' : 'register.form.placeholder.address' | trans | capitalize
                }}) }}
                {{ form_errors(form.address) }}
            </p>

            <p>
                {{ form_label(form.zipCode, 'register.form.zipCode' | trans | capitalize ~ ' :') }}
                {{ form_widget(form.zipCode, { 'attr' : {
                    'placeholder' : 'register.form.placeholder.zipCode' | trans | capitalize
                }}) }}
                {{ form_errors(form.zipCode) }}
            </p>


            <p>
                {{ form_label(form.city, 'register.form.city' | trans | capitalize ~ ' :') }}
                {{ form_widget(form.city, { 'attr' : {
                    'placeholder' : 'register.form.placeholder.city' | trans | capitalize
                }}) }}
                {{ form_errors(form.city) }}
            </p>

            <p>
                {{ form_label(form.country, 'register.form.country' | trans | capitalize ~ ' :') }}
                {{ form_widget(form.country, { 'attr' : {
                    'placeholder' : 'register.form.placeholder.country' | trans | capitalize
                }}) }}
                {{ form_errors(form.country) }}
            </p>

            #}



            <p>
                <input type="submit" name="submit" value="{{ 'register.form.button'| trans | capitalize }}" class="btn btn-info">
            </p>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}