<div class="row">
    <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">My Website</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span class="fas fa-home"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                            {{ 'homepage.categories'| trans | capitalize}}
                        </a>

                        {{ render_menu() | raw }}
                    </li>
                </ul>
                <div class="my-1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                    <span class="fas fa-globe"></span>
                            </a>
                            <div class="dropdown-menu">

                                {#
                                {% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
                                {% set frParams = params|merge({'_locale': 'fr'}) %}
                                {% set enParams = params|merge({'_locale': 'en'}) %}

                                {% set slugfrParam = frParams['slugProduct']%}
                                {% set slugenParam = enParams['slugProduct']%}

                                #}

                                <a class="dropdown-item" href="#"><img src="{{ asset('img/fr.svg') }}" alt="Francais" style="witdh:20px; height: 20px"/></a>
                                <a class="dropdown-item" href="#"><img src="{{ asset('img/gb.svg') }}" alt="English" style="witdh:20px; height: 20px"/></a>





                                {# to change locale of current page only

                                {% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
                                {% set frParams = params|merge({'_locale': 'fr'}) %}
                                {% set enParams = params|merge({'_locale': 'en'}) %}

                                {% set slugfrParam = params['slugProduct']%}

                                {{ dump(slugfrParam) }}


                                {%if app.request.locale == "en"%}
                                    <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), frParams) }}">
                                        <img src="{{ asset('img/fr.svg') }}" alt="Francais" style="witdh:20px; height: 20px"/>
                                    </a>
                                {%else%}
                                    <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), enParams) }}">
                                        <img src="{{ asset('img/gb.svg') }}" alt="English" style="witdh:20px; height: 20px"/>
                                    </a>
                                {%endif%}

                                #}
                            </div>



                        </li>
                    </ul>
                </div>
                <div class="my-1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    Bonjour {{ app.user.username }} <span class="fas fa-user"></span>
                                {% else %}
                                    <span class="fas fa-user"></span>
                                {% endif %}

                            </a>
                            <div class="dropdown-menu">
                                {% set route = app.request.attributes.get('_route') %}
                                {% set route_params = app.request.attributes.get('_route_params') %}
                                {% set params = route_params|merge(app.request.query.all) %}




                                {#
                                    {% if app.request.attributes.get('_locale') == 'fr' %}
                                    <a class="dropdown-item" href="{{ path(route, params|merge(params|merge{ _locale: 'fr' })) }}"><img src="{{ asset('img/fr.svg') }}" alt="Francais" style="witdh:20px; height: 20px"/></a>
                                {% else %}
                                    <a class="dropdown-item" href="{{ path(route, params|merge(params|merge{ _locale: 'en'})) }}"><img src="{{ asset('img/gb.svg') }}" alt="English" style="witdh:20px; height: 20px"/></a>

                                {% endif %}
                                #}

                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ url('admin.homepage.index') }}" class="dropdown-item"> Tableau de bord</a>
                                {% endif %}

                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a href="{{ url('security.logout') }}" class="dropdown-item"> Déconnexion</a>
                                    {% else %}
                                        <a href="{{ url('security.login') }}" class="dropdown-item"> Connexion</a>
                                        <a href="{{ url('account.register') }}" class="dropdown-item"> Register</a>
                                {% endif %}

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>